/* for reviews */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,300&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.clearfix{
    clear: both;
    float: none;
}
.container{
    width: 80%;
    margin: 0 auto;
}

body{
    padding: 0;
    margin: 0;
    max-width: 100vw;
}
.wrapper-review{
    background-color: #071f7645;
    margin-bottom: 1px;
    /* display: flex;
    flex-direction: row; */

    /* width: 100vw; */
}
.title-cat{
    text-align: center;
    padding: 2% 5% ;
    font-size: 36px;
    color: #404258;

}

.cust-name {
    /* font-family: 'Poppins', sans-serif; */
    font-size: 20px;
}

.title {
    color: rgb(38, 35, 35);
    font-size: 2.1rem;
    padding-top: 30px;
    margin-bottom: 50px;
   
}

.wrapper-add-review{
    width: 100%;
    /* height: ; */
    /* border: 50px solid rgba(0, 0, 0, 0.708); */
    background-color: #404258 ;
}
.review-container{
    /* background-color: pink; */
    height: 100vh;
    /* margin-left: 40%; */
}

.review-body{
    /* background-color: pink; */
    background-color: #6B728E ;
    margin-left: 29%;
    padding: 3% 8%;
    box-shadow: 0px 9px 9px 2px rgba(17, 17, 26, 0.18);
    border-radius: 50%;

}
.title-add{
    text-align: center;
    padding: 5% ;
    font-size: 40px;
    color: #DDDDDD;

}

.review-menu-box{
    width: 25%;
    margin: 1% 3%;
    padding: 1%;
    float: left;
    background-color: #FFF2F2;
    box-shadow: 0px 9px 9px 2px rgba(17, 17, 26, 0.18);
    border-radius: 15px;
    /* flex-shrink: 3; */
}

.review-menu-desc{
    /* background-color: blue; */
    width: 80%;
    float: left;
    margin-left: 4%;
}

.review-email{
    font-size: 0.6rem;
    margin: 1% 0;
    font-style: italic;

}

.review-detail{
    font-size: 1rem;
    color: #747d8c;
    margin-bottom: 10px;
}
.rev-btn{
    margin-left: 3%;
}

.title-add {
    text-align: center;
     /* background-color: #D0B8A8 ; */
   
}
/* .container {
    width: 50%;
    padding: 5% 10%;
    background-color: pink;

} */


.label-left {
    margin-right: 17%;
}
.label-right{
    margin-left: 10%;
}
.my-row{
    height: 60px;
}
.submit-btn {
    margin-left: 100%;
    width: max-content;
    height: 30px;
    margin-top: 10px;
    font-size: 1rem;
    padding: 2% 9%;
    border-radius: 50%;
    border-style: none;
}

input{
    margin:1% 3%;
    padding: 1%;
}

/* for navbar anchor-tags */
a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover {
    background-color: #ddd;
}

td{
    color: #DDDDDD;
    font-size: 18px;
}

.submit-btn